

<div class="question" *ngIf='question.visible'>

    <div class="question_container">
        <div class="title">{{question.title}}</div>
    
        <input [ngModel]="question.answer" (ngModelChange)="onAnswerUpdate($event)" [name] ='"Question_" + question.id' *ngIf="question.type == 'number' || question.type == 'text'" [type]="question.type"/>
    
        <div class="question_radioGroup">
            <label [for] ='"Question_yes_" + question.id' *ngIf="question.type == 'radio'">Yes</label>
            <input [ngModel]="question.answer" (ngModelChange)="onAnswerUpdate($event)" [id]='"Question_yes_" + question.id' [name] ='"Question_" + question.id' *ngIf="question.type == 'radio'" type="radio" value="1">
           
            <label [for] ='"Question_no_" + question.id' *ngIf="question.type == 'radio'">No</label>
            <input [ngModel]="question.answer" (ngModelChange)="onAnswerUpdate($event)" [id]='"Question_no_" + question.id' [name] ='"Question_" + question.id' *ngIf="question.type == 'radio'" type="radio" value="2">
        
        </div>
    
        <select [ngModel]="question.answer" (ngModelChange)="onAnswerUpdate($event)" [name] ='"Question_" + question.id' *ngIf="question.type == 'select'">
            <option *ngFor="let option of question.options" [value]='option'>{{option}}</option>
        </select>
    
    </div>


    
<div class="dependedQuestions">
    <question  *ngFor="let child of question.childItems trackBy: questionsStoreService.Trackfn" [question]="child" ></question>
</div>

</div>



